.service-card {
  min-height:10.5625rem;
  border-radius: 25px;
  border-color: var(--horizon) ;
}
.section-title{
  color: var(--similar) ;

}
.service-title{
  color: var(--similar) ;
}
.service-details{
  color: var(--dark-gray) ;

}
.icon {
  width: 90px;
  height: 60px;
}
